name: PyPI release

on:
  release:
    types: [released]

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/esp-idf-sbom
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip build

    - name: Build package
      run: python -m build

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
